@charset "UTF-8";
/*
 *  Scarlet Fever v.0.0.2
*/
/* I. Base Settings — Sitewide Styles
====================================================== */
/* @font-face declarations
====================================================== */
/* Base definitions
====================================================== */
/* Headings
====================================================== */
/* Headings
====================================================== */
/* Colours
====================================================== */
/* II. Global — Variables & Mixins
====================================================== */
/* normalize.css v2.1.2 | MIT License | git.io/normalize */
p {
  margin: 0;
  padding: 0;
}

p + p {
  margin-top: 1em;
}

p,
ul,
ol,
span,
h2,
h3,
#cart_options label,
#cart_summary #cart_total h2 {
  text-align: left;
}

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* SIMPLE FADE IN ANIMATION
#manifesto {
	@extend %transition;
	opacity: 0;
}

#manifesto.inViewPort {
	opacity: 1;
} */
header,
footer,
article,
aside,
section,
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container, .canvas {
  margin: 0 auto;
  max-width: 1000px;
}
@media only screen and (max-width: 480px) {
  .container, .canvas {
    padding: 1em;
  }
}

/*
* Based off Skeleton-SASS V1.0 | Copyright 2012 by Michael Lazer-Walker | https://github.com/lazerwalker/Skeleton-Sass
* Based off of Skeleton v1.1: https://github.com/dhgamache/Skeleton
* Free to use under the MIT license. | http://www.opensource.org/licenses/mit-license.php
*/
.container {
  *zoom: 1;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

section:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

img {
  max-width: 100%;
}

img.align-left {
  margin: 0 2em 0 0;
}

img.align-right {
  margin: 0 0 0 2em;
}

.further-reading-list li {
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.hidden, .hide {
  display: none !important;
  visibility: hidden;
}

.display-none {
  display: none;
}

.site-head .site-logo, .asterisk {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#error, .comparison ul, .checklist-to-do-list, .further-reading-list, #cart-form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.essay-exploration .content {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}
@media only screen and (max-width: 480px) {
  .essay-exploration .content {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}

/* Global styles
====================================================== */
::selection {
  background: #9b0012;
  color: #FFF;
}

body {
  font: 400 1.125em "Sentinel A", "Sentinel B", "Sentinel Book", "Clarendon", Georgia, serif;
  line-height: 1.4;
  color: #111111;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 97.5%;
  }
}

a {
  color: #580001;
  text-decoration: none;
  padding-bottom: 1px;
}
a:hover, a:focus {
  background: url("http://jessicapaoli.com/scarletfever/images/underline.png") center bottom repeat-x;
}

code {
  background: #666666;
  padding: .3em .5em;
  margin: 0 .25em;
  overflow: auto;
}

/* Stylistic treatments
====================================================== */
hr {
  height: 0;
  padding: 0 0 .75em 0;
  margin: 0 0 1em 0;
  border: 0;
  background: url("http://jessicapaoli.com/scarletfever/images/underline-gray.png") center center repeat-x;
}

#error, .comparison ul, .checklist-to-do-list, .further-reading-list, #cart-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.small {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.small {
  font: 300 0.825em "brandon-grotesque", "Brandon Grotesque", Helvetica, Arial, sans-serif;
}

/* Headings
====================================================== */
h1,
h2,
h3,
#cart_options label,
#cart_summary #cart_total h2,
h4,
h5,
h6 {
  font-family: "brandon-grotesque", "Brandon Grotesque", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h3, #cart_options label, #cart_summary #cart_total h2 {
  font-weight: 700;
}

h5,
h6 {
  font-size: 1em;
}

.small-heading {
  letter-spacing: 10px;
  font-size: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="submit"],
textarea,
select {
  margin-bottom: .5em;
  padding: .5em .85em;
  font: 400 1.125em "Sentinel A", "Sentinel B", "Sentinel Book", "Clarendon", Georgia, serif;
  line-height: 1.4;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea,
select {
  width: 80%;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  color: #111111;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.05);
}

select {
  border-color: rgba(0, 0, 0, 0.5);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 .5em 0 1em;
}

input:hover, input:focus,
textarea:hover, textarea:focus,
select:hover, select:focus,
button:hover, button:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"],
button,
#essay-read-link {
  padding: 9px 15px;
  background: #9b0012;
  border: black;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font: 700 0.94444em "brandon-grotesque", "Brandon Grotesque", Helvetica, Arial, sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
input[type="submit"]:hover,
button:hover,
#essay-read-link:hover {
  background-color: #82000f;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
input[type="submit"]:active,
button:active,
#essay-read-link:active {
  background-color: #72000d;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

form li {
  margin-bottom: 1em;
}

/* IV. Layout — Page Structure
====================================================== */
/* --------------------------------------------------------------
   Luna
   by Singlenaut

   http://singlenaut.com
   office@singlenaut.com

-------------------------------------------------------------- */
/* --------------------------------------------------------------
  Base styles
-------------------------------------------------------------- */
@-webkit-keyframes reset {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes reset {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes reset {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@-o-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes reset {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes reset {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade_in {
  -webkit-animation-name: reset, fade-in;
  -webkit-animation-duration: .7s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: reset, fade-in;
  -moz-animation-duration: .7s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -o-animation-name: reset, fade-in;
  -o-animation-duration: .7s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  -ms-animation-name: reset, fade-in;
  -ms-animation-duration: .7s;
  -ms-animation-timing-function: ease-in;
  -ms-animation-iteration-count: 1;
  animation-name: reset, fade-in;
  animation-duration: .7s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

#error {
  display: none;
}

#content #error {
  display: block;
}

#error li {
  margin: 0 auto;
  padding: 1em;
  color: #fff;
  background: #9b0012;
  font-weight: 300;
}

/* --------------------------------------------------------------
  Structure
-------------------------------------------------------------- */
.strip {
  overflow: hidden;
  background: transparent;
}

.canvas {
  margin: 0 auto;
  clear: both;
}

#content {
  margin-top: -10px;
  padding: 70px 0;
}

#page_body {
  width: 530px;
  margin: 0 auto;
}

/* --------------------------------------------------------------
  Home Page / Products Page / Products List
-------------------------------------------------------------- */
#home_page #content,
#products_page #content {
  margin-top: 0;
  padding: 0;
  background: transparent;
}

#products_page #content {
  margin-top: -10px;
}

#products_page #products {
  margin-bottom: 30px;
}

#products {
  float: left;
  clear: both;
  margin: 0 0 0 -30px;
  line-height: 0;
}

#products.single_product,
#products.double_product {
  float: none;
  margin: 0 auto;
  overflow: hidden;
}

#products.single_product {
  width: 280px;
}

#products.single_product .product {
  margin-left: 0;
}

#products.double_product {
  left: -15px;
  position: relative;
  width: 620px;
}

#products.single_product {
  float: none;
  margin: 0 auto;
  width: 280px;
}

#products.single_product .product {
  margin-left: 0;
}

.product,
.product_header {
  -webkit-transition: all .45s ease-out;
  -moz-transition: all .45s ease-out;
  -ms-transition: all .45s ease-out;
  -o-transition: all .45s ease-out;
  transition: all .45s ease-out;
}

.no_transition .product,
.no_transition .product_header {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.product {
  position: relative;
  float: left;
  width: 280px;
  height: 280px;
  margin: 0 0 30px 30px;
  background: transparent;
}

.product a {
  position: static;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #fff !important;
  border-radius: 4px;
  background: transparent;
  border: none;
}

.product a:hover {
  color: #fff !important;
}

.product .product_header {
  position: absolute;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  /* IE6-IE8 */
  width: 100%;
  margin: 45% auto 0;
}

.product_header h1,
.product_header h2,
.product_header h3,
.product_header #cart_options label,
#cart_options .product_header label,
.product_header #cart_summary #cart_total h2,
#cart_summary #cart_total .product_header h2 {
  margin: 0;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.product_header h1,
.product_header h2 {
  width: 95%;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.product_header h3, .product_header #cart_options label, #cart_options .product_header label, .product_header #cart_summary #cart_total h2, #cart_summary #cart_total .product_header h2 {
  margin-left: -1px;
}

.product_header h3 span, .product_header #cart_options label span, #cart_options .product_header label span, .product_header #cart_summary #cart_total h2 span, #cart_summary #cart_total .product_header h2 span {
  position: relative;
  top: -3px;
  font-size: .7em;
}

.product_header .dash {
  display: block;
  width: 24px;
  height: 1px;
  margin: 6px auto 10px;
  background: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.product_header h5 {
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  font-size: 11px;
  font-style: italic;
  color: #ddd;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.product_thumb {
  margin: 0;
}

.product_thumb img {
  width: 280px;
  border-radius: 4px;
}

.product:hover {
  background: transparent;
}

.product a:hover {
  overflow: hidden;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.product a:hover .product_header {
  opacity: .9;
  filter: alpha(opacity=90);
  /* IE6-IE8 */
  margin-top: 40%;
}

.product a:hover .product_thumb {
  opacity: .4;
  filter: alpha(opacity=40);
  /* IE6-IE8 */
}

.product a:hover .product_thumb img {
  border-radius: 0;
}

#pagination {
  float: left;
  width: 100%;
  margin: 2px 0 56px;
  text-align: center;
  font-size: 13px;
}

#pagination span,
#pagination a {
  padding: 8px 4px;
  border: none;
}

#pagination .disabled,
#pagination .next,
#pagination .previous {
  display: none;
}

#pagination .current {
  text-decoration: underline;
}

.category_nav {
  clear: both;
  padding: 28px 0 10px;
  float: left;
  width: 100%;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.category_nav:first-child {
  position: relative;
  z-index: 4;
  margin-top: 0;
  margin-bottom: 60px;
}

.category_nav nav {
  text-align: center;
  width: 100%;
  margin: 0;
}

.category_nav.double nav.categories,
.category_nav.double nav.artists {
  width: 44%;
  display: inline-block;
}

.category_nav.double nav.categories {
  text-align: right;
  margin-right: 40px;
}

.category_nav.double nav.artists {
  text-align: left;
  margin-left: 40px;
}

.category_nav h3, .category_nav #cart_options label, #cart_options .category_nav label, .category_nav #cart_summary #cart_total h2, #cart_summary #cart_total .category_nav h2 {
  display: inline-block;
  padding: 0 8px 0 0;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.category_nav ul {
  display: inline-block;
}

.category_nav li {
  display: inline-block;
  font-size: 13px;
}

.category_nav li:before {
  content: "/";
  padding: 0 4px 0 0;
}

.category_nav li a {
  border: none;
}

.category_nav li.selected a {
  text-decoration: underline;
}

.category_nav li:first-child:before {
  content: "\00a0";
}

.alert-noproducts {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: #999;
}

/* -------------------------------------------------------------- 
  About / Custom Page
-------------------------------------------------------------- */
.custom #page_body p:first-child,
#contact_page #page_body p:first-child {
  font-size: 20px;
  line-height: 28px;
  font-style: italic;
}

#about_page #page_body img {
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.custom #page_body h1,
.custom #page_body h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 1.5em 0 .7em;
  line-height: 1.2em;
}

.custom #page_body h1 {
  font-size: 20px;
}

.custom #page_body h3, .custom #page_body #cart_options label, #cart_options .custom #page_body label, .custom #page_body #cart_summary #cart_total h2, #cart_summary #cart_total .custom #page_body h2,
.custom #page_body h4 {
  font-size: 14px;
  line-height: 1.1em;
  margin: 1.8em 0 .7em;
}

.custom #page_body h4 {
  font-size: 12px;
}

.custom #page_body ul {
  list-style-type: circle;
  list-style-position: inside;
  width: 100%;
}

.custom #page_body ol {
  list-style-type: decimal;
  list-style-position: inside;
  width: 100%;
}

/* -------------------------------------------------------------- 
  Contact
-------------------------------------------------------------- */
#contact_page #page_body p:first-child {
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}

#contact_page #page_body p#thank_you {
  padding-bottom: 0 !important;
  border: none !important;
  text-align: center;
}

#contact_links {
  padding-bottom: 15px;
  margin-top: -10px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

#contact_links.no_intro {
  margin-top: 40px;
  padding-top: 14px;
  border-top: 1px solid #e5e5e5;
}

#contact_links li {
  display: inline-block;
  font-size: 13px;
}

#contact_links li:after {
  content: "/";
  padding: 0 0 0 4px;
}

#contact_links li:last-child:after {
  content: "";
}

#contact_links li a {
  border: none;
}

#contact_form {
  width: 100%;
}

#contact_form ul {
  margin-bottom: 40px;
}

#contact_form li {
  padding: 4px 0;
}

#contact_form label {
  width: 100%;
  float: none;
  margin-bottom: 5px;
  text-align: left;
}

#contact_form input,
#contact_form textarea {
  width: 510px;
  margin: 0;
}

#contact_form textarea {
  height: 180px;
}

#captcha_img {
  overflow: hidden;
}

#captcha_img #captcha_phrase {
  float: right;
}

#captcha_img input {
  float: left;
  width: 365px;
  padding: 17px 8px;
  margin-right: 20px;
}

#captcha_img img {
  -webkit-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

#contact_page #contact_button {
  clear: both;
}

/* --------------------------------------------------------------
  Cart
-------------------------------------------------------------- */
#cart_page #site_footer footer {
  margin-top: 0;
}

#cart-form {
  padding: 0 15px;
}

#cart-form.no_options {
  overflow: hidden;
  margin-bottom: 80px;
}

#cart_description {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  float: left;
}
@media only screen and (max-width: 480px) {
  #cart_description {
    width: 100%;
  }
}

#cart_items {
  background: url("http://jessicapaoli.com/scarletfever/images/underline-gray.png") center bottom repeat-x;
}

#cart_items ul {
  margin-bottom: 0;
}

#cart_items li {
  position: relative;
  overflow: hidden;
  margin: 0;
}

#cart_items .item_image {
  float: left;
  margin: 1.5em 2em 0 4em;
  text-align: center;
}

#cart_items .item_image img {
  max-height: 60px;
  max-width: 90px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin: 0 auto;
}

#cart_items li dl {
  margin: 0;
  line-height: 0;
  margin: 31px 0 0;
}

#cart_items li.with_option dl {
  margin-top: 21px;
}

#cart_items li dt,
#cart_items li dd {
  line-height: 1.3em;
}

#cart_items li dt a {
  border: none;
}

#cart_items li dt {
  margin: 0 0 3px 0;
}

#cart_items li .item_option {
  margin-top: 3px;
  font-size: 13px;
  font-style: italic;
}

#cart_items li .item_quantity {
  margin-left: 5px;
}

#cart_items li .remove_item {
  position: absolute;
  top: 50%;
  opacity: .5;
  filter: alpha(opacity=50);
  /* IE6-IE8 */
  z-index: 5;
  width: 26px;
  height: 25px;
  text-indent: -9999px;
  background: url("http://jessicapaoli.com/scarletfever/images/remove_item.png");
  -webkit-transition: opacity 0.75s ease-in-out;
  -moz-transition: opacity 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

#cart_items li .remove_item:hover {
  opacity: 1;
}

#cart_options {
  float: left;
}

#cart_options li {
  margin-bottom: 10px;
}

#cart_options select {
  font-size: 0.77778em;
  width: 215px;
}

#cart_options .no_shipping {
  display: block;
  color: #9b0012;
}

#cart_options #cart_discount p {
  font-size: 12px;
  padding: 13px 0;
}

.cart-update {
  text-align: left;
}

.cart-update .button {
  background: #dedede;
  color: #111;
}

#cart_summary {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  float: right;
}
@media only screen and (max-width: 480px) {
  #cart_summary {
    width: 100%;
  }
}

#cart_summary ul {
  padding: 0 13px;
}

#cart_summary li {
  overflow: hidden;
  margin: 0;
  padding: 1.25em 0;
  background: url("http://jessicapaoli.com/scarletfever/images/underline-gray.png") center bottom repeat-x;
}

#cart_summary li h3, #cart_summary li #cart_options label, #cart_options #cart_summary li label, #cart_summary li #cart_total h2, #cart_summary #cart_total li h2 {
  float: left;
  margin: 0;
}

#cart_summary li span {
  float: right;
}

#cart_summary li span span {
  float: none;
}

#cart_summary li#cart-shipping-tax.not_set span {
  font-size: 11px;
}

#cart_summary #cart_total {
  padding-top: 20px;
  border: none;
}

#cart_summary #cart_total h2 {
  margin: 0;
  float: right;
  font-size: 1em;
}

#cart_summary #cart_total span {
  float: none;
  position: relative;
  top: -6px;
  font-size: 11px;
}

#cart_summary button {
  margin: 2em 0;
}

#cart_page #cart_empty p {
  font-size: 1.66667em;
  text-align: center;
}

/*============================================================
  Success Page
============================================================*/
.page, .page h2, .page p {
  text-align: center;
}

/*============================================================
  Standalone Pages (Maintenance / Checkout)
============================================================*/
.standalone .canvas {
  width: 45%;
  max-width: 450px;
  padding: 33px 30px 15px;
  margin: 20% auto 0;
  text-align: center;
}

#checkout_page .canvas {
  padding: 25px 30px 20px;
}

.standalone .canvas h1 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3em;
}

.standalone .canvas p {
  margin-top: 10px;
  font-style: italic;
}

.site-head {
  text-align: center;
}

.site-head nav a {
  display: inline-block;
  margin: .75em 2em;
  padding-bottom: 1px;
  font: 400 0.77778em "brandon-grotesque", "Brandon Grotesque", Helvetica, Arial, sans-serif;
  text-decoration: none;
  letter-spacing: 3px;
  vertical-align: middle;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .site-head nav a {
    display: none;
  }
}

.site-head .site-logo {
  display: inline-block;
  padding: 0;
  width: 58px;
  height: 59px;
  background: url("http://jessicapaoli.com/scarletfever/images/sf-logo.png");
}
.site-head .site-logo:hover {
  background: url("http://jessicapaoli.com/scarletfever/images/sf-logo.png");
}

section {
  padding: 2em 0;
  margin: 0 auto;
  text-align: center;
}

.hero {
  background: #580001 url("http://jessicapaoli.com/scarletfever/images/hero.jpg") center center no-repeat;
  height: 380px;
  padding: 0;
}
@media only screen and (max-width: 480px) {
  .hero {
    height: 200px;
    padding: 1.5em 1em 1em 1em;
  }
}

.hero-headline {
  display: block;
  position: relative;
  top: 80px;
  margin: 0 auto;
  max-width: 800px;
  font: 300 3.88889em "Sentinel A", "Sentinel B", "Sentinel Book", "Clarendon", Georgia, serif;
  color: #fff;
  text-align: center;
  line-height: 1;
}
@media only screen and (max-width: 480px) {
  .hero-headline {
    top: 0;
    font-size: 2.15em;
  }
}

.comparison {
  padding: 1em 0 4em 0;
}

.comparison ul {
  display: inline-block;
  vertical-align: top;
  width: 23.5%;
}
@media only screen and (max-width: 480px) {
  .comparison ul {
    width: 100%;
  }
}

.comparison li {
  display: block;
  line-height: 1.8;
  padding-bottom: 3px;
  font: 400 1.15em "brandon-grotesque", "Brandon Grotesque", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #666;
  font-weight: 400;
  font-size: .777778em;
}
@media only screen and (max-width: 480px) {
  .comparison li {
    font: 400 0.92778em "brandon-grotesque", "Brandon Grotesque", Helvetica, Arial, sans-serif;
  }
}

.comparison-virgin {
  float: left;
  background: url("http://jessicapaoli.com/scarletfever/images/virgin.png") right center no-repeat;
}
.comparison-virgin li {
  margin-right: 3.5em;
  text-align: right;
}

.comparison-slut {
  float: right;
  background: url("http://jessicapaoli.com/scarletfever/images/whore.png") left center no-repeat;
}
.comparison-slut li {
  margin-left: 3.5em;
}

.manifesto-paragraph {
  margin: .5em auto;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 1.61111em;
  line-height: 1.25;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .manifesto-paragraph {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .comparison {
    padding: 0;
  }

  .comparison ul {
    background: transparent;
    margin: 0 0 -60px 0;
  }

  .comparison-slut {
    position: relative;
    top: -80px;
  }

  .comparison-virgin li,
  .comparison-slut li {
    margin: 0;
    padding: 0;
  }
}
.comparison-virgin:hover + .comparison-slut,
.comparison-slut-hover {
  opacity: .5;
}

.section-heading {
  font: 300 2.22222em "brandon-grotesque", "Brandon Grotesque", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #900205;
}
@media only screen and (max-width: 480px) {
  .section-heading {
    font-weight: 400;
    font-size: 1.125em;
    letter-spacing: 3px;
  }
}

.asterisk {
  display: inline-block;
  width: 17px;
  height: 21px;
  position: relative;
  top: 3px;
  margin-bottom: -3px;
  background: url("http://jessicapaoli.com/scarletfever/images/asterisk-gray.png");
}

.checklist {
  color: #fff;
  background: #111111 url("http://jessicapaoli.com/scarletfever/images/grunge-dark.jpg") bottom center;
}

.checklist-to-do-list {
  display: inline-block;
  vertical-align: top;
  width: 32.5%;
  float: right;
  line-height: 1.5;
  counter-reset: sf-roman-numerals;
}
@media only screen and (max-width: 480px) {
  .checklist-to-do-list {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .checklist-to-do-list {
    width: 100%;
    font-size: 97%;
  }
}
.checklist-to-do-list li:before {
  display: inline-block;
  width: 1.5em;
  padding-right: .5em;
  counter-increment: sf-roman-numerals;
  content: counter(sf-roman-numerals,upper-roman) ".";
  color: #666666;
  text-align: right;
}

.manifesto-crux {
  float: left;
  margin: 1em 0 0 .25em;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  line-height: 1.166667 !important;
}
@media only screen and (max-width: 480px) {
  .manifesto-crux {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .manifesto-crux {
    margin: 0 0 1em 0;
  }
}

h2 {
  margin: 0 0 .5em 0;
  padding: 0;
  font: 700 1.66667em "brandon-grotesque", "Brandon Grotesque", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  letter-spacing: 3px;
  text-align: left;
}

h3, #cart_options label, #cart_summary #cart_total h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.products .container {
  margin: 1em auto 4em auto;
}
@media only screen and (max-width: 480px) {
  .products .container {
    margin: 0;
  }
}

.product-highlight-image {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  float: left;
}
@media only screen and (max-width: 480px) {
  .product-highlight-image {
    width: 100%;
  }
}

.product-highlight {
  float: right;
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin-top: 1.5em;
}
@media only screen and (max-width: 480px) {
  .product-highlight {
    width: 100%;
  }
}
.product-highlight .product-title {
  margin-bottom: .25em;
}
.product-highlight .product-description p {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  background: url("http://jessicapaoli.com/scarletfever/images/underline-gray.png") center bottom repeat-x;
}
.product-highlight button, .product-highlight p {
  float: left;
  display: inline-block;
}
.product-highlight button {
  margin-right: 1em;
}
.product-highlight .product-price-and-shipping {
  font-size: .8888889em;
}
.product-highlight .product-price {
  display: block;
  font-size: 1.222222em;
  line-height: 1.222222;
}
@media only screen and (max-width: 480px) {
  .product-highlight {
    margin-bottom: 2em;
  }
}

.essay h2 {
  line-height: 1;
}

.essay-introduction {
  display: inline-block;
  vertical-align: top;
  width: 65%;
}
@media only screen and (max-width: 480px) {
  .essay-introduction {
    width: 100%;
  }
}

.essay-thesis {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  float: right;
}
@media only screen and (max-width: 480px) {
  .essay-thesis {
    width: 100%;
  }
}

.virginity-term {
  font-size: 1.31667em;
  margin: 0 0 .25em 0;
}
.virginity-term em {
  margin: 0 .5em;
}

.virginity-definition {
  margin: 0 0 1em 0;
  overflow: visible;
  padding-left: 1.25em;
  list-style-type: outside;
}

.essay-user-story {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  float: right;
}
@media only screen and (max-width: 480px) {
  .essay-user-story {
    width: 100%;
  }
}

.essay-section {
  margin: 3em auto;
  text-align: center;
}

.further-reading {
  text-align: left;
}

.further-reading h3, .further-reading #cart_options label, #cart_options .further-reading label, .further-reading #cart_summary #cart_total h2, #cart_summary #cart_total .further-reading h2 {
  margin-bottom: .25em;
}

.further-reading-list {
  margin-bottom: 1em;
}
.further-reading-list li {
  line-height: 1.2;
  padding: 1em;
  background: #f2f2f2;
  display: inline-block;
  vertical-align: top;
  width: 28%;
  margin-right: 1.25em;
}
@media only screen and (max-width: 480px) {
  .further-reading-list li {
    width: 100%;
  }
}
.further-reading-list li:last-child {
  margin: 0;
}
.further-reading-list li:hover {
  background: #dedede;
}
@media only screen and (max-width: 480px) {
  .further-reading-list li {
    margin: 0;
    padding: 5px;
  }
}
.further-reading-list span {
  font-size: .85em;
  line-height: 1.05;
}
.further-reading-list img {
  max-height: 80px;
  margin-right: 1em;
  float: left;
}
.further-reading-list a {
  color: inherit;
}
.further-reading-list a:hover {
  background: 0;
}

.further-reading-list a.em {
  font-style: italic;
}

.site-footer {
  background: url("http://jessicapaoli.com/scarletfever/images/underline-gray.png") center top repeat-x;
  padding: 2em 0;
  font-size: 0.77778em;
}
.site-footer a {
  color: #666666;
}
.site-footer a:hover {
  color: #580001;
}
