<h1>Scarlet Fever</h1>
<p>Virginity is a hetero- and cissexist construct void of medical merit upheld for millennia to subordinate women’s sexuality and undermine their worth. Scarlet Fever encourages empowerment and systemic change to abolish the idea of sexual purity.</p>
