.site-head {
	text-align: center;
}

.site-head nav a {
	display: inline-block;
	margin: .75em 2em;
	padding-bottom: 1px;
	@include font-stack-secondary($weight: $normal, $size: $font-size-small);
	text-decoration: none;
	letter-spacing: 3px;
	vertical-align: middle;
	text-transform: uppercase;
	@include media-query {
		display: none;
	}
}

.site-head .site-logo {
	display: inline-block;
	@extend %hide-text;
	padding: 0;
	width: 58px;
	height: 59px;
	background: url('#{$image-path}/sf-logo.png');
	&:hover {
		background: url('#{$image-path}/sf-logo.png');
	}
}

section {
	padding: 2em 0;
	margin: 0 auto;
	text-align: center;
}

section:after {
	@extend %clear;
}

.hero {
	background: #580001 url("#{$image-path}/hero.jpg") center center no-repeat;
	height: 380px;
	padding: 0;
	@include media-query {
		height: 200px;
		padding: 1.5em 1em 1em 1em;
	}
}

	.hero-headline {
		display: block;
		position: relative;
		top: 80px;
		margin: 0 auto;
		max-width: 800px;
		@include font-stack-primary($weight: $light, $size: 3.88889em);
		color: #fff;
		text-align: center;
		line-height: 1;
		@include media-query {
			top: 0;
			font-size: 2.15em;
		}
	}

.comparison {
	padding: 1em 0 4em 0;
}
	.comparison ul {
		@include columns(2.35);
		@extend %no-list;
	}

	.comparison li {
		display: block;
		line-height: 1.8;
		padding-bottom: 3px;
		@include font-stack-heading($weight: $normal, $size: 1.15em);
		text-transform: uppercase;
		letter-spacing: 4px;
		color: #666;
		font-weight: $normal;
		font-size: .777778em;
		@include media-query {
			@include font-stack-secondary($weight: $normal, $size: $font-size-small + .15em);
		}
	}

	.comparison-virgin {
		float: left;
		background: url('#{$image-path}/virgin.png') right center no-repeat;
		li {
			margin-right: 3.5em;
			text-align: right;
		}
	}

	.comparison-slut {
		float: right;
		background: url('#{$image-path}/whore.png') left center no-repeat;
		li {
			margin-left: 3.5em;
		}
	}

	.manifesto-paragraph {
		margin: .5em auto;
		@include columns(5);
		font-size: 1.61111em;
		line-height: 1.25;
		text-align: center;
	}

	@include media-query{
		.comparison { 
			padding: 0;
		}

		.comparison ul {
			background: transparent;
			margin: 0 0 -60px 0;
		}
		.comparison-slut {
			position: relative;
			top: -80px;
		}
		.comparison-virgin li,
		.comparison-slut li {
			margin: 0;
			padding: 0;
		}
	}

	// hover effect
	.comparison-virgin:hover + .comparison-slut,
	.comparison-slut-hover {
		opacity: .5;
	}

.section-heading {
	@include font-stack-heading($size: 2.22222em);
	text-transform: uppercase;
	letter-spacing: 8px;
	color: #900205;
	@include media-query {
		font-weight: $normal;
		font-size: $font-size-base;
		letter-spacing: 3px;
	}
}

.asterisk {
	display: inline-block;
	width: 17px;
	height: 21px;
	position: relative;
	top: 3px;
	margin-bottom: -3px;
	@extend %hide-text;
	background: url('#{$image-path}/asterisk-gray.png');
}


.checklist {
	color: #fff;
	background: #111 url("#{$image-path}/grunge-dark.jpg") bottom center;
}

.checklist-to-do-list {
	@include columns(3.25);
	float: right;
	@extend %no-list;
	line-height: 1.5;
	counter-reset: sf-roman-numerals;
	@include media-query {
		width: 100%;
		font-size: 97%;
	}
	li {
		&:before {
		    display: inline-block;
		    width: 1.5em;
		    padding-right: .5em;   
		    counter-increment: sf-roman-numerals;  
		    content: counter(sf-roman-numerals, upper-roman) ".";  
		    color: $colour-tertiary; 
		    text-align: right;
		}
	}
}  

.manifesto-crux {
	float: left;
	margin: 1em 0 0 .25em;
	@include columns(5);
	line-height: 1.166667 !important;
	@include media-query {
		margin: 0 0 1em 0;
	}
}

h2 {
	margin: 0 0 .5em 0;
	padding: 0;
	@include font-stack-heading($weight: $bold, $size: $font-size-large);
	letter-spacing: 3px;
	text-align: left;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 3px;
}

.products .container {
	margin: 1em auto 4em auto;
	@include media-query {
		margin: 0;
	}
}

.product-highlight-image {
	@include columns(5.5);
	float: left;
}

.product-highlight {
	float: right;
	@include columns(3.5);
	margin-top: 1.5em;
	.product-title {
		margin-bottom: .25em;
	}
	.product-description p {
		padding-bottom: 1.5em;
		margin-bottom: 1.5em;
		background: url('#{$image-path}/underline-gray.png') center bottom repeat-x;
	}
	button, p {
		float: left;
		display: inline-block;
	}
	button {
		margin-right: 1em;
	}
	.product-price-and-shipping {
		font-size: .8888889em;
	}
	.product-price {
		display: block;
		font-size: 1.222222em;
		line-height: 1.222222;
	}
	@include media-query {
		margin-bottom: 2em;
	}
}

.essay h2 {
	line-height: 1;
}

.essay-introduction {
	@include columns(6.5);
}

.essay-thesis {
	@include columns(3);
	float: right;
}

.essay-exploration .content {
	@extend %column-styling;
}

.virginity-term {
	font-size: $font-size-large - .35em;
	margin: 0 0 .25em 0;
	em {
		margin: 0 .5em;
	}
}

.virginity-definition {
	margin: 0 0 1em 0;
	overflow: visible;
	padding-left: 1.25em;
	list-style-type: outside;
}

.essay-user-story {
	@include columns(6.5);
	float: right;
}


.essay-section {
	margin: 3em auto;
	text-align: center;
}

#essay-read-link {
	@extend %button;
}

.further-reading {
	text-align: left;
}


.further-reading h3 {
	margin-bottom: .25em;
}

.further-reading-list {
	@extend %no-list;
	margin-bottom: 1em;
    li {
    	line-height: 1.2;
    	padding: 1em;
    	@extend %transition;
    	background: lighten($colour-tertiary-lighter, 8%);
    	@include columns(2.8);
    	margin-right: 1.25em;
    	&:last-child {
    		margin: 0;
    	}
    	&:hover {
    		background: $colour-tertiary-lighter;
    	}
		@include media-query {
			margin: 0;
			padding: 5px;
		}
    }
    span {
    	font-size: .85em;
    	line-height: 1.05;
    }
    img {
    	max-height: 80px;
    	margin-right: 1em;
    	float: left;
    }
	a {
		color: inherit;
		&:hover {
			background: 0;
		}
	}
}

.further-reading-list a.em {
	font-style: italic;
}

.site-footer {
	background: url('#{$image-path}/underline-gray.png') center top repeat-x;
	padding: 2em 0;
	font-size: $font-size-small;
	a {
		color: $colour-tertiary;
		&:hover {
			color: $colour-secondary;
		}
	}
}

#cart-form ul {
	@extend %no-list;
}