@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
			border-radius: $radius;
}

@mixin transition($property: all, $duration: .75s, $function: ease-in-out) {
    -webkit-transition: $property $duration $function;
       -moz-transition: $property $duration $function;
         -o-transition: $property $duration $function;
            transition: $property $duration $function;
}

%transition {
	@include transition;
}

//hide from browsers and screen-readers
%hidden { 
	display: none !important;
	visibility: hidden;
}

.hidden, .hide {
	@extend %hidden;
}

//hide from browsers; show for screen-readers
%display-none {
	display: none;
}

.display-none {
	@extend %display-none;
}

//accessible and efficient way to hide text only
%hide-text  {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

//un-style a list
%no-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

//CSS columns
%column-styling {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	column-gap: 2em;
	@include media-query {
		column-count: 1;
		-webkit-column-count: 1;
		-moz-column-count: 1;
	}
}