// Font stacks
@mixin font-stack-primary($weight: $normal, $size: $font-size-base) {
	font: $weight $size $font-family-primary;
}

@mixin font-stack-secondary($weight: $light, $size: $font-size-base) {
	font: $weight $size $font-family-secondary;
}

@mixin font-stack-heading($weight: $light, $size: 48px) {
	font: $weight $size $font-family-heading;
	text-transform: uppercase;
	letter-spacing: -1px;
}

@mixin font-stack-handwriting($weight: $normal, $size: $font-size-base) {
	font: $weight $size $handwriting-font-family;
}

@mixin hover {
	&:hover, &:focus {
		@content;
	}
}

/* Global styles
====================================================== */
::selection { background: $colour-primary; color: #FFF; }

body {
	@include font-stack-primary;
	line-height: $leading;
	color: $colour-text;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;

	@include media-query {
		font-size: 97.5%;
	}
}


a {
	color: $colour-link;
	text-decoration: none;
	padding-bottom: 1px;
	@include hover {
		background: url('#{$image-path}/underline.png') center bottom repeat-x;
	}
}

code {
	background: $colour-tertiary;
	padding: .3em .5em;
	margin: 0 .25em;
	overflow: auto;
}

%hyphenation {
	-ms-word-break: hyphenate;
	word-break: hyphenate;
	word-break: hyphenate;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

/* Stylistic treatments
====================================================== */

%hr,
hr {
	height: 0;
	padding: 0 0 .75em 0;
	margin: 0 0 1em 0;
	border: 0;
	background: url('#{$image-path}/underline-gray.png') center center repeat-x;
}

%no-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

%uppercase {
	text-transform: uppercase;
	letter-spacing: .2em;
}

%small, .small {
	@include font-stack-secondary($light, .825em);
	@extend %uppercase;
}

%text-shadow {
	text-shadow: 0 1px 0 rgba(0,0,0,.25);
}

/* Headings
====================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-heading;
	font-weight: $font-weight-heading;
}

h3 {
	font-weight: $bold;
}

h5,
h6 {
	font-size: 1em;
}

.small-heading {
	letter-spacing: 10px;
	font-size: 1em;
}