// A. Descriptive variables
	$sf-red:			#9b0012;

	$sf-red-dark:		#580001;

	$gray:				#111;
	$gray-medium:		#666;
	$gray-light:		#dedede;

// B. Functional variables
	$colour-text:				$gray;

	$colour-primary:			$sf-red;
	$colour-primary-darker:		darken($colour-primary, 15%);
	$colour-primary-lighter:	lighten($colour-primary, 15%);

	$colour-secondary:			$sf-red-dark;
	$colour-secondary-darker:	darken($colour-secondary, 35%);
	$colour-secondary-lighter:	lighten($colour-secondary, 35%);

	$colour-tertiary:			$gray-medium;
	$colour-tertiary-darker:	$gray;
	$colour-tertiary-lighter:	$gray-light;

	$colour-background-dark:	$colour-text;