/* @font-face declarations
====================================================== */

$image-path: "http://jessicapaoli.com/scarletfever/images";

/* Base definitions
====================================================== */
// A. Weights
$light:				300;
$medium: 			400;
$normal:			400;
$bold:				700;

$font-weight-base:	$normal;

// B. Sizes
$font-size-base:	1.125em; //18px
$font-size-large:	1.66667em; //30px
$font-size-small:	.777778em; //14px

$leading:			1.4;

// C. Family stacks
$font-family-primary:     "Sentinel A", "Sentinel B", "Sentinel Book", "Clarendon", Georgia, serif;
$font-family-secondary:   "brandon-grotesque", "Brandon Grotesque", Helvetica, Arial, sans-serif;
$font-family-heading:     $font-family-secondary;


/* Headings
====================================================== */
// A. Weights
$font-weight-heading:	$light;

/* Headings
====================================================== */
// Fixed Font
$fixed-font-family:		monospace;
$fixed-font-size:		90%;

/* Colours
====================================================== */
// A. Links
$colour-link:			      $colour-secondary;
$colour-link-secondary:	      $colour-secondary;

@mixin secondary-link-style {
	color: $colour-link;
	&:hover, &:focus {
		color: $colour-link-secondary;
		text-decoration: none;
	}
}